* {
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  height: 150vh;
  text-align: center;
  color: white;
  background-color: black;
  /* background-position: center; */
}
.aa {
  padding-top: 8vh;
}
/* .email{
    width: 20%;
    height: 7vh;
    border: 2px solid white;
    background-color: black;
} */
.mail {
  width: 25%;
  height: 7vh;
  background-color: black;
  border: 1px solid grey;
  margin-top: 10px;
}
.im {
  width: 3%;
  margin-top: 40px;
}
.big {
  margin-top: 20px;
  font-size: 50px;
}
.phone {
  color: green;
}
.button {
  width: 27%;
  height: 10vh;
  background-color: rgb(35, 170, 82);
  border-radius: 30px;
  margin-top: 10px;
  color: white;
  border: 3px solid rgb(35, 170, 82);
  font-size: 20px;
}
.start-button {
  color: black;
  text-decoration: none;
  margin-top: 20px;
}
.or {
  margin-top: 5vh;
}
.b {
  display: flex;
  text-align: center;
  gap: 20px;
  margin-left: 7vh;
}
.b {
  display: flex;
  text-align: center;
  gap: 20px;
  margin-left: 7vh;
}
.b a{
    color: white;
}
.b2 {
  color: rgb(136, 132, 132);
  margin-top: 5vh;
  font-size: 2.6vh;
}
.b3 {
  color: white;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5vh;
  border: none;
  margin-top: 2vh;
}
.b4 {
  width: 28%;
  color: rgb(190, 188, 188);
  text-align: center;
  margin-left: 76vh;
  margin-top: 6vh;
}
.b4 span {
  text-decoration: underline;
}
.b4 span:hover {
  color: rgb(9, 167, 9);
}
.mi button {
  width: 25%;
  height: 7vh;
  color: white;
  background-color: black;
  border: 1px solid grey;
  margin-top: 10px;
  border-radius: 20px 20px;
}
.mi a {
  text-decoration: none;
  color: white;
}
