*{
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    height: 150vh;
    text-align: center;
    color: white;
    background-color: black;
    /* background-position: center; */
}
.aa {
    padding-top: 8vh;
}
.im {
    width: 3%;
    margin-top: 40px;
}
.big {
    margin-top: 20px;
}
.ee {
    font-size: 2vh;
    margin-left: -44vh;
    font-weight: 600;
    font-family:sans-serif ;
    margin-top: 7vh;
}
input {
    width: 27%;
    height: 7vh;
    background-color: black;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    margin-top: 10px;
}
.button {
  width: 27%;
  height: 10vh;
  background-color: rgb(30,215,96);
  border-radius: 30px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
}
.start-button {
  color: black ;
  text-decoration: none;
}
.or {
    margin-top: 5vh;
}
.a4 button{
    color: white;
    background-color: black;
    width: 25%;
    font-family: sans-serif;
    font-size: 2.5vh;
    justify-content: flex-start;
    margin-top: 3vh;
    height: 8vh;
    border-radius: 20px;
    border: 1px rgb(109, 108, 108) solid;
}
.b {
    display: flex;
    text-align: center;
    gap: 20px;
    margin-left: 7vh;
}
.b a{
    color: white;
    text-decoration: none;
    display: flex;
}
.b2 {
    color: rgb(136, 132, 132);
    margin-top: 5vh;
    font-size: 2.6vh;
}
.b3 {
    color: white;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vh;
    border: none;
    margin-top: 2vh;
}
.b4 {
     width: 28%;
    color: rgb(190, 188, 188);
    text-align: center;
    margin-left: 76vh;
   margin-top: 6vh;
}
.b4 span {
    text-decoration: underline;
}
.b4 span:hover {
    color: rgb(9,167,9);
}
